<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="./images/logo-mercado-liebre.svg" alt="Imagen no disponible" height="245.30" width="943.5">
        <p>Buscador</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <article>
            <h2>Basado en tu última visita</h2>

            <img src="./images/img-cafetera-moulinex.jpg" alt="Imagen no disponible" height="400" width="400">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><b>Cafetera Moulinex</b></p>

            
            <img src="./images/img-macbook-pro-2019.jpg" alt="Imagen no disponible" height="400" width="400">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><b>MacBook Pro 2019</b></p>

            
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen no disponible" height="400" width="400">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p><b>Samsung Galaxy S10</b></p>

            
            <img src="./images/img-tv-samsung-smart.jpg" alt="Imagen no disponible" height="400" width="400">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p><b>SmartTv Samsung 43"</b></p>
     
        </article>
        <article>
            <h2>Seccion de Ofertas</h2>

            <img src="./images/img-cafetera-moulinex.jpg" alt="Imagen no disponible" height="400" width="400">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><b>Cafetera Moulinex</b></p>

            
            <img src="./images/img-macbook-pro-2019.jpg" alt="Imagen no disponible" height="400" width="400">
            <p>$230.000</p>
            <p>20% OFF</p>
            <p><b>MacBook Pro 2019</b></p>

            
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="Imagen no disponible" height="400" width="400">
            <p>$70.500</p>
            <p>10% OFF</p>
            <p><b>Samsung Galaxy S10</b></p>

            
            <img src="./images/img-tv-samsung-smart.jpg" alt="Imagen no disponible" height="400" width="400">
            <p>$23.200</p>
            <p>5% OFF</p>
            <p><b>SmartTv Samsung 43"</b></p>
     
        </article>

    </main>
    <footer>
        
       <h2>Pagá con tarjeta o en efectivo</h2>
<p> Mercado Liebre Cash, tenés cuotas</p>
<p> sin interés con tarjeta o efectivo en puntos de</p>
<p> pago. ¡Y siempre es seguro!</p>

<h2> Envío gratis desde $ 2.500</h2>
<p> Solo por estar registrad@ en Mercado Liebre</p></p> tenés envíos gratis en miles de
productos. Es</p></p> un beneficio de Mercado Puntos.</p>

<h2>Seguridad, de principio a fin</h2>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre</p><p> no hay nada que no puedas hacer
porque estás</p></p> siempre protegid@.</p>

<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>

</html>